* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

:focus, :active, a:focus, a:active { outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

input[type="number"],
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
}

input[type="search"] {
	-webkit-appearance: none;
	appearance: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%; width: 100%;

	font-size: 16px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a, button { touch-action: manipulation; }

button { 
	color: #000; 

	cursor: pointer;
}

input, button, textarea {
	font-family: inherit;

	border-radius: 0;
}

input::-ms-clear { display: none; }

address { font-style: normal; }

button::-moz-focus-inner {
	padding: 0;

	border: 0;
}

a, a:visited, a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

fieldset { padding: 0; }

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;

	margin: 0;
}

[aria-hidden="true"] { pointer-events: none; user-select: none; }

.visually-hidden {
	position: absolute;

	width: 1px; height: 1px;
	
	margin: -1px; padding: 0;

	border: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	
	overflow: hidden;
}
