.about-us {

	margin-top: -0.1875rem;
	padding-top: 2rem; padding-bottom: 4.6875rem;

	background: var(--secondary);

	@media (min-width: 62rem) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
		gap: var(--grid-gap);

		padding-top: 7.5rem; padding-bottom: 9.375rem;
	}

	// .about-us__column

	&__column {
		&:nth-child(1) {
			grid-column: 2/7;
		}

		&:nth-child(2) {
			grid-column: 8/12;

			margin-top: 2.875rem;
			
			@media (min-width: 106rem) {
				grid-column: 8/13;

				margin-top: 0;
			}
		}
	}

	// .about-us__content

	&__content {
	}

	// .about-us__image

	&__image {
		position: relative;

		margin: 0 var(--n-container-gap);

		@media (min-width: 48rem) {
			margin: 0;
		}
	}

	// .about-us__image-decor

	&__image-decor {
		&:nth-child(1) {
			right: 0; top: 0;
			transform: translate(1.5rem, -1rem);
			
			width: 80%; aspect-ratio: 390/240;

			z-index: -1;
			
			@media (min-width: 36rem) {
				transform: translate(1.5rem, -1.5rem);
				width: 60%;
			}

			@media (min-width: 106rem) {
				transform: translate(2rem, -2rem);
				
				width: 75%;
			}
		}

		&:nth-child(3) {
			left: 0; bottom: 0;
			transform: translate(1rem, 1rem);

			width: 8.75rem; aspect-ratio: 416/115;

			@media (min-width: 36rem) {
				width: 33.333%;
			}

			@media (min-width: 62rem) {
				transform: translate(-1rem, 1rem);

				width: 50%;
			}

			@media (min-width: 106rem) {
				transform: translate(-2rem, 1.125rem);

				width: 22.0625rem;
			}
		}
	}

	// .about-us__image-inner

	&__image-inner {
		img {
			@media (max-width: 47.9375rem) {
				border-radius: 0;
			}
		}
	}
}
