.breadcrumbs {

	display: inline-flex;
	align-items: center;
	gap: 0.375rem;

	padding-top: 2rem; padding-bottom: 0.5rem;

	@media (min-width: 62rem) {
		padding-bottom: 4px;
	}

	// .breadcrumbs__link

	&__link {
		display: inline-block;

		font-weight: 600;
		font-size: 0.75rem;
		line-height: 133.333333%;
		color: var(--secondary-2);
		text-decoration: underline;
		text-underline-offset: 0.35ch;

		&:hover {
			text-decoration: underline;
		}

		@media (hover: hover) {
			transition: color .15s;

			&:hover {
				color: var(--accent);
			}
		
			&:active {
				color: var(--accent-active);
			}
		}
	}

	// .breadcrumbs__separator

	&__separator {
		display: inline-flex;
		align-items: center;

		height: 1rem;

		color: var(--secondary-2);

		svg {
			width: 1rem; height: 1rem;
		}
	}

	// .breadcrumbs__current

	&__current {
		font-size: 0.75rem;
		line-height: 133.333333%;
		color: var(--secondary-2);
	}
}

.header:not(.is-active) + .main .breadcrumbs {
	background: var(--secondary);

	width: 100%;

	padding-top: 3.875rem + 1rem;

	@media (min-width: 62rem) {
		padding-top: 5rem + 2rem;
	}

	&__link, &__separator, &__current {
		color: var(--text-color);
	}

	&__link {
		@media (hover: hover) {
			&:hover {
				color: var(--accent);
			}
		
			&:active {
				color: var(--accent-active);
			}
		}
	}
}
