.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;

	min-height: 2.25rem; min-width: 10.875rem;

	padding: 0.4375rem 1rem;

	border-radius: 0.375rem;
	background-color: var(--accent);

	font-family: var(--title-font);
	font-weight: 600;
	font-size: 1rem;
	line-height: 137.5%;
	text-align: center;
	color: var(--text-color);

	cursor: pointer;

	&.is-large {
		min-height: 3.125rem;

		padding: 0.4375rem 2rem;
	}

	svg {
		flex: 0 0 1.25rem; width: 1.25rem; height: 1.25rem;
	}

	@media (hover: hover) {

		transition: background-color .3s, filter .3s;

		&:hover {
			background-color: var(--accent-active);
		}
	
		&:active {
			filter: brightness(.9);
		}
	}
}
