.button {
	padding: 7px 15px;

	border-radius: 15px;
	background: var(--accent);

	color: var(--background);
	text-align: center;

	cursor: pointer;

	@media (hover: hover) {

		transition: background .3s;

		&:hover {
			
		}
	
		&:active {
			
		}
	}
}
