.decor-separator {
	display: inline-block;

	width: 2.625rem;

	border-top: 4px solid var(--accent);
	border-radius: 0.125rem;
}

.decor-element-1 {
	position: absolute;

	background: var(--accent);
	border-radius: 0.375rem;

	&.mode-2 {
		background: var(--accent-hover);
	}

	&.mode-3 {
		background: linear-gradient(134.83deg, rgba(227, 120, 40, 0.2) 0%, rgba(248, 156, 86, 0.2) 100.01%), var(--accent);
	}
}

.decor-element-2 {
	position: absolute;

	background: rgba(166, 166, 166, 0.1);
	border: 1px solid rgba(238, 238, 238, 0.3);
	backdrop-filter: blur(2px);
	border-radius: 0.375rem;
}
