@use '../mixin' as mixin;

@font-face {
	@include mixin.font('Open Sans', 600, 'OpenSans-SemiBold');
}

@font-face {
	font-weight: 600;
	font-family: "Open Sans";
	font-display: swap;
	font-style: italic;

	src: url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	@include mixin.font('Open Sans', 700, 'OpenSans-Bold');
}

@font-face {
	@include mixin.font('Inter', 400, 'Inter-Regular');
}

@font-face {
	@include mixin.font('Inter', 500, 'Inter-Medium');
}

@font-face {
	@include mixin.font('Inter', 600, 'Inter-SemiBold');
}

@font-face {
	@include mixin.font('Inter', 700, 'Inter-Bold');
}

.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 115%;
	font-size: 1.875rem;

	@media (min-width: 550px) {
		font-size: 2rem;
	}
	
	@media (min-width: 768px) {
		font-size: 2.5rem;
	}
	
	@media (min-width: 992px) {
		font-size: 3.125rem;
	}
}

.title {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 137.5%;
	
	@media (min-width: 36rem) {
		font-size: 2rem;
	}
	
	@media (min-width: 992px) {
		font-size: 2.5rem;
	}

	&.is-min {
		font-size: 1.25rem;
	
		@media (min-width: 36rem) {
			font-size: 1.5rem;
		}
		
		@media (min-width: 992px) {
			font-size: 2rem;
		}
	}
}

.section-content {

	text-align: center;

	&.is-light & {
		&__title {
			color: var(--text-color);
		}

		&__text {
			color: var(--primary-4);
		}
	}

	// .section-content__title

	&__title {
	}

	// .section-content__separator

	&__separator {
		margin-top: 1rem;

		@media (min-width: 62rem) {
			margin-top: 1.5rem;
		}
	}

	// .section-content__text

	&__text {
		max-width: 34.375rem;

		margin: 0.625rem auto 0;

		font-size: 1rem;
		line-height: 175%;
		color: var(--secondary-2);

		p:not(:first-child) {
			padding-top: 1.25rem;
		}

		&.is-start {
			text-align: start;
		}

		&.is-min {
			font-size: 1rem;
		}

		@media (min-width: 62rem) {
			margin: 1.5rem auto 0;

			font-size: 1.125rem;
			line-height: 156%;

			&.is-min {
				font-size: 1rem;
				line-height: 175%;
			}
		}
	}

	// .section-content__footer

	&__footer {
		padding-top: 2rem;

		@media (min-width: 62rem) {
			padding-top: 3rem;
		}
	}

	// .section-content__button

	&__button {
	}
}
