.footer {

	display: grid;
	grid-template-columns: 100%;
	gap: 3.125rem;

	flex: 0 0 auto;

	padding-top: 3.75rem; padding-bottom: 2rem;

	background: var(--secondary-gradient);
	
	color: var(--primary-3);

	@media (min-width: 48rem) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media (min-width: 62rem) {
		grid-template-columns: repeat(12, 1fr);

		//--container-padding: max(var(--container-gap), calc(50% - (75rem / 2)));
	}

	// .footer__top

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;

		@media (min-width: 62rem) {
			grid-column: 3 span;
			align-items: flex-start;
		}
	}

	// .footer__logo

	&__logo {
		@media (min-width: 62rem) {
			height: 3.75rem;
		}
	}

	// .footer__logo-link

	&__logo-link {
	}

	// .footer__logo-img

	&__logo-img {
		object-fit: cover;
	}

	// .footer__schedule

	&__schedule {
		text-align: center;
		font-size: 0.75rem;
		line-height: 133.333333%;

		@media (min-width: 62rem) {
			text-align: start;
		}

		p:not(:first-child) {
			padding-top: 0.375rem;
		}
	}

	// .footer__privacy

	&__privacy {
		font-size: 0.75rem;
		line-height: 133.333333%;
		color: var(--primary-3);
		text-decoration: underline;
		text-underline-offset: 0.5ch;

		@media (hover: hover) {
			transition: color .15s;

			&:hover {
				color: var(--text-color);
				text-decoration: underline;
			}
		
			&:active {
				color: var(--accent);
			}
		}
	}

	// .footer__block-title

	&__block-title {
		display: block;

		font-family: var(--title-font);
		font-weight: 700;
		font-size: 1.125rem;
		line-height: 138.888889%;
		color: var(--text-color);
		text-align: center;
	}

	// .footer__block-list

	&__block-list {
		padding-top: 2rem;
	}

	// .footer__nav

	&__nav {
		@media (min-width: 62rem) {
			grid-column: 6 span;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2rem .5rem;

			@media (min-width: 48rem) {
				flex-direction: column;
				flex-wrap: nowrap;
				gap: 1.5rem .5rem;
			}

			@media (min-width: 62rem) {
				flex-wrap: wrap;
				flex-direction: row;
				gap: 1.5rem;
			}

			a {
				display: block;

				min-width: 6.25rem;

				font-weight: 500;
				color: var(--text-color);
				line-height: 137.5%;
				text-align: center;

				span {
					border-bottom: 1px solid transparent;
				}

				@media (hover: hover) {
					transition: color .2s;

					span {
						transition: border-bottom-color .2s;
					}

					&:hover {
						color: var(--accent);
						span {
							border-bottom-color: var(--accent);
						}
					}
				
					&:active {
						color: var(--accent-active);
						span {
							border-bottom-color: var(--accent-active);
						}
					}
				}
			}
		}
	}

	// .footer__contacts

	&__contacts {

		@media (min-width: 62rem) {
			grid-column: 3 span;
			justify-self: end;
		}

		> ul:nth-child(2) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			@media (min-width: 62rem) {
				display: inline-flex;
				align-items: stretch;
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 0.625rem;

				font-weight: 500;
				font-size: 1rem;
				line-height: 137.5%;
				color: var(--text-color);
				text-decoration: underline;
				text-underline-offset: 0.5ch;

				@media (hover: hover) {
					transition: color .2s;

					&:hover {
						color: var(--accent);
					}
				
					&:active {
						color: var(--accent-active);
					}
				}

				svg {
					width: 0.75rem; height: 0.75rem; flex: 0 0 0.75rem;

					color: var(--accent);
				}
			}
		}
	}

	// .footer__social

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		padding-top: 1.3125rem;

		a {
			color: var(--accent);

			svg {
				width: 1.75rem; height: 1.75rem; flex: 0 0 1.75rem;
			}

			@media (hover: hover) {
				transition: color .15s;

				&:hover {
					color: var(--text-color);
				}
			
				&:active {
					color: var(--primary-3);
				}
			}
		}
	}

	// .footer__bottom

	&__bottom {
		text-align: center;
		
		@media (min-width: 48rem) {
			grid-column: 3 span;
		}

		@media (min-width: 62rem) {
			grid-column: 12 span;
		}
	}

	// .footer__copyright

	&__copyright {
		padding-top: 1rem;

		font-size: 0.75rem;
		line-height: 133.333333%;
		color: var(--secondary-2);
	}
}
