input, textarea {
	&::placeholder {
		transition: opacity .2s ease;
		opacity: 1;
	}
	
	&:focus::placeholder {
		opacity: 0;
	}
}

.form-label {
	> span:first-child {
		display: block;

		padding-bottom: 0.25rem;

		font-size: 0.875rem;
		line-height: 121.428571%;
	}

	input, textarea {
		width: 100%;

		padding: 0.5625rem 1rem;

		border: 1px solid var(--primary-3);
		border-radius: 0.375rem;

		line-height: 118.75%;
		color: var(--secondary);

		transition: border-color .2s;

		&::placeholder {
			color: var(--primary-3);
		}

		&.is-error {
			border-color: var(--error);
		}

		&:focus {
			border-color: var(--accent);
		}
	}

	input {
		min-height: 2.5rem;
	}

	textarea {
		min-height: 7.5rem;

		resize: none;
	}

	[data-text] {
		display: grid;

		&::before {
			content: attr(data-text) " ";

			display: block;
			
			grid-area: 1/1;

			padding: 0.5625rem 1rem;

			border: 1px solid;

			white-space: pre-wrap;
			line-height: 118.75%;

			opacity: 0; user-select: none;
			pointer-events: none;
		}

		textarea {
			grid-area: 1/1;

			overflow: hidden;
		}
	}
}

.contact-form {

	padding: 2rem 1rem;

	background: var(--text-color);

	@media (min-width: 36rem) {
		padding: 2.25rem 2rem;
	}

	// .contact-form__hero

	&__hero {
		text-align: center;

		h3 {
			color: var(--secondary);
		}

		p {
			padding-top: 1rem;

			font-size: 1rem;
			font-weight: 500;
			line-height: 150%;

			@media (min-width: 48rem) {
				font-size: 1.125rem;
			}
		}
	}

	// .contact-form__inner

	&__inner {
		display: grid;
		grid-template-columns: 100%;
		gap: 1.25rem 1rem;

		@media (min-width: 36rem) {
			grid-template-columns: 1fr 1fr;
		}

		&:not(:first-child) {
			margin-top: 2rem;
		}
	}

	// .contact-form__label

	&__label {
		@media (min-width: 36rem) {
			&.is-full {
				grid-column: 2 span;
			}
		}
	}

	// .contact-form__submit

	&__submit {
		width: 100%;

		margin-top: 1.5rem;
	}

	// .contact-form__message

	&__message {
		padding-top: 1.5rem;

		text-align: center;

		&:not(.is-active) {
			position: absolute;
			
			width: 1px; height: 1px;
			
			margin: -1px; padding: 0;
			
			border: 0;
			
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
	}
}

