.action-block {

	padding-top: 3.75rem; padding-bottom: 3.75rem;

	@media (min-width: 62rem) {
		padding-top: 5rem; padding-bottom: 5rem;
	}

	// .action-block__backgound

	&__backgound {
		position: absolute;
		inset: 0;

		z-index: -1;

		&::after {
			content: "";
			position: absolute;
			inset: 0;

			background: var(--secondary-gradient);
			opacity: 0.65;
		}

		img {
			position: absolute;
			left: 0; top: 0;

			width: 100%; height: 100%;

			object-fit: cover;

			user-select: none; pointer-events: none;
		}
	}

	// .action-block__content

	&__content {
		text-align: center;
	}

	// .action-block__title

	&__title {
		color: var(--text-color);
	}

	// .action-block__button

	&__button {
		margin-top: 2rem;
	}
}
