.advantages {

	display: grid;
	align-items: center;
	gap: 3rem;
	
	@media (min-width: 36rem) {
		gap: 5rem;
	}

	@media (min-width: 62rem) {
		grid-template-columns: repeat(12, 1fr);
	}

	@media (min-width: 106rem) {
		gap: 8.125rem var(--grid-gap);
	}

	// .advantages__hero

	&__hero {
		@media (min-width: 62rem) {
			grid-column: 12 span;
		}
	}

	// .advantages__image

	&__image {
		position: relative;

		max-width: 37.5rem;

		margin: 0 var(--n-container-gap);
		
		@media (min-width: 36rem) {
			margin: 0 auto;
		}

		@media (min-width: 62rem) {
			grid-column: 6 span;

			margin-right: 1.5rem;
		}

		@media (min-width: 94rem) {
			grid-column: 2/6;

			margin-right: 0;
		}

		@media (min-width: 106rem) {
			grid-column: 5 span;
		}
	}

	// .advantages__image-decor

	&__image-decor {
		&:nth-child(1) {
			left: 0; top: 0;
			transform: translate(-1rem, -1rem);

			width: 82.5%; height: 92.5%;

			z-index: -1;

			@media (min-width: 36rem) {
				transform: translate(-1.5rem, -1.5rem);

				width: 92.5%; height: 92.5%;
			}
		}

		&:nth-child(3) {
			right: 0; bottom: 0;
			transform: translate(-1rem, 1rem);

			width: 8.75rem; aspect-ratio: 416/115; min-height: 2rem;

			@media (min-width: 36rem) {
				transform: translate(1.5rem, 1.5rem);

				width: 62.5%;
			}
		}
		
		@media (min-width: 106rem) {
			&:nth-child(1) {
				transform: translate(-2.25rem, -2.25rem);
			}

			&:nth-child(2) {
				transform: translate(2.25rem, 2.25rem);
			}
		}
	}

	// .advantages__image-inner

	&__image-inner {
		img {
			@media (max-width: 35.9375rem) {
				border-radius: 0;
			}
		}
	}

	// .advantages__content

	&__content {
		@media (min-width: 62rem) {
			grid-column: 6 span;

			margin-left: 1.5rem;
		}

		@media (min-width: 94rem) {
			grid-column: 7/12;

			margin-left: 0;
		}
	}

	// .advantages__list

	&__list {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		margin-right: -0.3125rem;

		@media (min-width: 62rem) {
			gap: 2.5rem;
		}
	}

	// .advantages__item

	&__item {
	}

	// .advantages__footer

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;

		padding-top: 3rem;
	}

	// .advantages__button

	&__button {
	}
}

.advantages-item {

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;

	text-align: center;

	@media (min-width: 36rem) {
		display: grid;
		grid-template-columns: 5.125rem auto;
		gap: 2rem;

		text-align: start;
	}

	// .advantages-item__icon

	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		
		width: 4rem; height: 4rem;

		background: var(--secondary-3);
		border: 1px solid var(--secondary-2);
		border-radius: 50%;

		@media (min-width: 36rem) {
			width: 5.125rem; height: 5.125rem;
		}

		img {
			width: 45%; height: 45%;
		}
	}

	// .advantages-item__content

	&__content {

		max-width: 17rem;
		
		@media (min-width: 36rem) {
			max-width: 100%;
		}

		h3 {
			font-family: var(--title-font);
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 135%;
		}

		p {
			padding-top: 0.625rem;

			font-size: 1rem;
			line-height: 175%;

			@media (min-width: 36rem) {
				font-size: 1.125rem;
				line-height: 155.555556%;
			}
		}
	}
}
