.breadcrumbs + .contact-us {
	padding-top: 0;
}

.contact-us {

	padding-top: 3.75rem; padding-bottom: 3.75rem;
	padding-left: 0; padding-right: 0;

	@media (min-width: 62rem) {
		padding-top: 0; padding-bottom: 0;
	}

	// .contact-us__header

	&__header {
		display: flex;
		flex-direction: column;
		gap: var(--grid-gap);

		padding-top: 2rem; padding-bottom: 3.75rem;

		@media (min-width: 48rem) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: var(--grid-gap);
		}

		@media (min-width: 62rem) {
			padding-top: 7.5rem; padding-bottom: 7.5rem;
			gap: 4.125rem var(--grid-gap);
		}
	}

	&__header &__hero {
		grid-column: 12 span;
	}

	&__header + &__row &__column:nth-child(2) img {
		border-radius: 0.375rem 0 0;
	}

	// .contact-us__list

	&__list {
		grid-column: 12 span;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		gap: 1rem;

		@media (min-width: 48rem) {
			flex-direction: row;
			--flex-cols: 2;
			--flex-gap: 1rem;
		}

		@media (min-width: 62rem) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--grid-gap);
		}

		@media (min-width: 75rem) {
			gap: 6.375rem;
		}

		@media (min-width: 90rem) {
			grid-column: 2/12;
		}

		li {
			min-height: 6.6875rem;

			padding: 1.5rem 1.5rem 0.75rem;
			
			background: var(--text-color);
			border: 1px solid var(--primary-5);
			border-radius: 0.375rem;

			@media (min-width: 48rem) {
				width: calc((100% / var(--flex-cols)) - ((var(--flex-cols) - 1) * var(--flex-gap) / var(--flex-cols)));
			}

			@media (min-width: 62rem) {
				width: auto;

				border-color: var(--accent);
			}

			h2 {
				font-family: var(--title-font);
				font-weight: 600;
				font-size: 1.125rem;
				line-height: 138.888889%;
			}

			p {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;

				padding-top: 1rem;

				a {
					display: inline-flex;
					align-items: center;
					gap: 0.5rem;

					font-weight: 500;
					line-height: 137.5%;
					color: var(--secondary);

					svg {
						width: 1.75rem; height: 1.75rem;
					}

					&[href*="tel:"], &[href*="mailto:"] {
						svg {
							width: 1rem; height: 1rem;
						}
					}

					@media (hover: hover) {
						transition: color .15s;

						&:hover {
							color: var(--accent);
						}
					
						&:active {
							color: var(--accent-active);
						}
					}

					svg {
						color: var(--accent);
					}
				}
			}
		}
	}

	// .contact-us__row

	&__row {
		position: relative;

		@media (min-width: 62rem) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: var(--grid-gap);
		}
	}

	// .contact-us__column

	&__column {
		&:first-child {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 2rem;

			@media (min-width: 62rem) {
				gap: 4rem var(--grid-gap);

				padding-top: 9.375rem; padding-bottom: 9.375rem;
			}
		}
	}

	// .contact-us__hero

	&__hero {
		grid-column: 6 span;
	}

	// .contact-us__form

	&__form {
		grid-column: 1/7;

		max-width: 39.875rem; width: 100%;

		margin: 0 auto;

		border: 1px solid var(--accent);
		border-radius: 0.375rem;

		@media (min-width: 106rem) {
			grid-column: 2/6;

			max-width: none;

			width: auto;

			margin: 0;
		}
	}

	// .contact-us__image

	&__image {
		position: relative;
		
		display: none;

		width: 100%; height: 100%;

		@media (min-width: 62rem) {
			display: block;
		}

		img {
			position: absolute;
			left: 0; top: 0;

			width: 50vw; height: 100%;

			object-fit: cover;
		}
	}
}
