.hero {

	min-height: calc(var(--svh, 1vh) * 100); min-height: 100dvh;

	padding-top: 6.375rem; padding-bottom: 3.75rem;

	color: var(--text-color);

	@media (min-width: 62rem) {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--grid-gap);
		
		padding-top: 9.375rem; padding-bottom: 9.375rem;
	}

	// .hero__background

	&__background {
		position: absolute;
		inset: 0;

		z-index: -1;

		user-select: none;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			inset: 0;

			background: var(--secondary);
			opacity: 0.6;

			z-index: 2;
		}

		img {
			position: absolute;
			left: 0; top: 0;

			width: 100%; height: calc(100% + 4px);

			object-fit: cover;
		}
	}

	// .hero__column

	&__column {
		&:nth-child(2) {

			max-width: 43rem;

			@media (min-width: 62rem) {
				grid-column: 6 span;
			}

			@media (min-width: 75rem) {
				grid-column: 7 span;
			}
		}

		&:nth-child(3) {
			margin-top: 2.5rem;

			@media (min-width: 62rem) {
				grid-column: 6 span;

				margin-top: 0;
			}
			
			@media (min-width: 75rem) {
				grid-column: 5 span;
			}

			@media (min-width: 106.25rem) {
				grid-column: 4 span;
			}
		}
	}

	// .hero__title

	&__title {
		font-family: var(--title-font);
		font-weight: 700;
		font-size: 2rem;
		line-height: 136.666667%;

		@media (min-width: 36rem) {
			font-size: 2.5rem;
		}

		@media (min-width: 62rem) {
			font-size: 3.25rem;
		}

		@media (min-width: 100rem) {
			font-size: 3.75rem;
		}
	}

	// .hero__subtitle

	&__subtitle {
		padding-top: 0.875rem;

		font-family: var(--title-font);
		font-style: italic;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 136.111111%;

		@media (min-width: 36rem) {
			font-size: 1.5rem;
		}

		@media (min-width: 48rem) {
			font-size: 1.75rem;
		}

		@media (min-width: 100rem) {
			font-size: 2.25rem;
		}
	}

	// .hero__separator

	&__separator {
		margin-top: 1.5rem;

		@media (min-width: 48rem) {
			margin-top: 1.875rem;
		}
	}

	// .hero__content

	&__content {
		padding-top: 1.5rem;

		@media (min-width: 48rem) {
			padding-top: 1.875rem;
		}

		> *:not(:first-child) {
			padding-top: 0.75rem;
		}

		h3 {
			font-family: var(--title-font);
			font-weight: 700;
			font-size: 1.125rem;
			line-height: 137.5%;

			@media (min-width: 48rem) {
				font-size: 1.5rem;
			}
		}

		p {
			font-size: 1rem;
			line-height: 155.555556%;

			@media (min-width: 48rem) {
				font-size: 1.125rem;
			}
		}
	}

	// .hero__license

	&__license {
		padding-top: 1.5rem;

		font-size: 1rem;
		line-height: 156%;

		@media (min-width: 48rem) {
			font-size: 1.125rem;
		}

		dt {
			font-weight: 700;
		}
	}

	// .hero__form

	&__form {
		background: rgba(30, 30, 30, 0.75);
		border: 1px solid var(--accent);
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(0.3125rem);
		border-radius: 0.375rem;

		.contact-form__hero {
			h3 {
				color: var(--primary);
			}
		}

		.form-label {
			input, textarea {
				background: var(--secondary);
				border-color: var(--secondary-2);
				
				color: var(--text-color);

				&.is-error {
					border-color: var(--error);
				}

				&:focus {
					border-color: var(--accent);
				}

				&::placeholder {
					color: var(--secondary-2);
				}
			}
		}
	}
}
