.not-found {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 75svh;

	flex: 1 1;

	padding-top: 2rem; padding-bottom: 3.75rem;

	text-align: center;

	@media (min-width: 62rem) {
		padding-top: 7.5rem; padding-bottom: 9.375rem;
	}

	// .not-found__title

	&__title {
		font-family: var(--title-font);
		font-weight: 700;
		font-size: 5.75rem;
		line-height: 135.9375%;
		text-align: center;
		color: var(--accent);
		

		@media (min-width: 36rem) {
			font-size: 6.75rem;
		}
		
		@media (min-width: 62rem) {
			font-size: 8rem;
		}
	}

	// .not-found__subtitle

	&__subtitle {
	}

	// .not-found__link

	&__link {
		margin-top: 3rem;

		@media (min-width: 36rem) {
			margin-top: 3.75rem;
		}
	}
}
